# See https://jsonnet.org/learning/tutorial.html to learn the Jsonnet syntax
local nt = import 'nt.libsonnet';

{
    Core: {
        {{- if .MediaConverter }}
        medias: {
            command: "{{ .MediaConverter }}",
            {{- if eq .MediaConverter "ffmpeg" }}
            parallel: 1,
            preset: "ultrafast",
            {{- end }}
        },
        {{- end }}
    },

    # TODO add links to the documentation
    Types: nt.DefaultTypes,
}
