# See https://jsonnet.org/learning/tutorial.html to learn the Jsonnet syntax
local nt = import 'nt.libsonnet';

{
    {{- if .MediaConverter }}
    core: {
        medias: {
            command: "{{ .MediaConverter }}",
            {{- if eq .MediaConverter "ffmpeg" }}
            parallel: 1,
            preset: "ultrafast",
            {{- end }}
        },
    },

    {{- end }}
    # https://julien-sobczak.github.io/the-notewriter/reference/configuration/
    attributes: nt.DefaultAttributes,
    tags: nt.DefaultTags,
    noteTypes: nt.DefaultNoteTypes,
}
